<include file="common:header" />

<!--main-->
<div class="width">
    	
        <div class="p10"> <h2>测评试卷名称</h2><div class="line"></div></div>
        <div class="clear"></div>
        
        <div class="mt20">
        	<div class="p10">
            	<div class="left mr10"><select class="sel"><option>高中物理</option></select></div>
                <div class="left mr10"><span class="button_4">高中物理在线测评（20150502）</span></div>
            </div>
        </div>
        
        <div class="clear"></div>
        <div class="mt20">
        <div class="p10">
         <h2>选择测评学生</h2><div class="line"></div></div>
        <div class="clear"></div>
        </div>
        
         <div class="mt20">
        	<div class="p10">
            	<span class="button_4">高中物理在线测评（20150502）</span>
            </div>
        </div>
        
        <div class="clear"></div>
        <div class="mt20">
        	<div class="p10">
            	<div class="left mr10"><span class="button_3">添加新学生</span></div>
                <div class="left"><span class="button_3">从我的学生中选择</span></div>
            </div>
        </div>
        
        <div class="clear"></div>
        
        <div class="mt20">
        	<div class="p10"> <h2>测评试卷信息</h2><div class="line"></div></div>	
        </div>

		<div class="clear"></div>
         
        <div class="mt20">
        	<div class="p10">
            	<div class="left"><span class="button_2">试题数量</span></div>
                <div class="left"><span class="button_4">—</span></div>
                <div class="left"><input type="text" style="line-height:30px;border:none; width:30px;height:30px;" class="button_4"></div>
                <div class="left"><span class="button_3">+</span></div>
            </div>
        </div>
        
        <div class="clear"></div>
        
        <div class="mt20">
        	<div class="p10">
            	<div class="left"><span class="button_2">测评总分</span></div>
                <div class="left"><span class="button_4">—</span></div>
                <div class="left"><input type="text" style="line-height:30px;border:none; width:30px;height:30px;" class="button_4"></div>
                <div class="left"><span class="button_3">+</span></div>
            </div>
        </div>
        
        <div class="clear"></div>
        
        <div class="mt20">
        	<div class="p10">
            	<div class="left"><span class="button_2">测评时间</span></div>
                <div class="left"><span class="button_4">—</span></div>
                <div class="left"><input type="text" style="line-height:30px;border:none; width:30px;height:30px;" class="button_4"></div>
                <div class="left"><span class="button_3">+</span></div>
            </div>
        </div>
        
        <div class="clear"></div>
        
        
        <div class="mt10">
        	<div class="p10"> <h2>选择选题方式</h2><div class="line"></div></div>	
        </div>
        
        <div class="clear"></div>
        <div class="mt10">
        	<div class="p10"> 
            	<select class="left sel mr10"><option>手工选题</option></select>                
            </div>	
        </div>
        
        <div class="clear"></div>
        
                 <div class="zj_tit">开始选题</div>

</div>

<!--footer-->
<include file="common:footer" />
