<include file="common:_header" />
<link href="/Public/css/user.css" rel="stylesheet" type="text/css" />
<!--main-->
<div class="width">
	<div class="b_top">
    	<!--left-->
        	<include file="member:left" />
        
        <!--right-->
        <div class="uright">
        	<h3><span>完善个人信息</span>个人信息</h3>
            
            <div class="page_content">
               <ul id="user">               
                    <li><span>头像设置：</span><a href="" class="c_l">更换图像</a></li>
                    <li><span>&nbsp;</span><a href=""><img src="images/user.gif" width="90" /></a></li>
                    <li><span>昵称：</span>xiaosan2438</li>
                    <li><span>真实姓名：</span><font class="c_z">暂无</font></li>
                    <li><span>密码：</span><a href="" class="c_l">修改密码</a></li>
                    <li><span>手机：</span><a href="" class="c_l">绑定</a></li>
                    <li class="cline"></li>
                    <li><span>注册邮箱：</span>xiaosan2438@163<a href="" class="c_z">（已验证）</a></li>
                    <li><span>地区：</span><font class="c_z">暂无</font></li>
                    <li><span>学校：</span><font class="c_z">暂无</font></li>
                    <li><span>任教科目：</span>语文</li>
               </ul>
           </div>
           
        </div>
    
    </div>
</div>

<!--footer-->
<include file="common:footer" />
