<include file="common:header" />

<!--main-->
<div class="width">
    	
        <div class="p10"> <h2>选择科目</h2><div class="line"></div></div>
        <div class="clear"></div>
        
        <div class="mt20">
        	<div class="p10"><select class="sel"><option>高中语文</option></select></div>
        </div>
        
        <div class="clear"></div>
        <div class="p10"> <h2>设置试题数量</h2><div class="line"></div></div>
        <div class="clear"></div>
        
        <div class="mt20">
        	<div class="p10">
            	<ul class="ch_ul">
                	<li>单项选择</li>
                    <li>多项选择</li>
                    <li>填空题</li>
                    <li>计算题</li>
                    <li>实验题</li>
                    <li>实验探究题</li>
                 </ul>
            	
                <ul class="ch_ul quesTypes" >
                	<li>
						<div style="height:30px;margin-left:15px;">
							<div style="padding:4px 0;float:left;">
								<button type="button" value="-" class="minus1" onclick="changeCount(countInput,this, '-')"></button>
							</div>
							<div style="float:left;">	
								<input value="0" id="countInput" maxlength="3" onblur="jiance($(this))" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" class="countInput" name="tx[1]" type="text">
							</div>
							<div style="padding:4px 0;float:left;">	
								<button type="button" value="+" class="add" onclick="changeCount(countInput,this, '+')"></button>
							</div>
							<div class="clear"></div>
						</div>
                    </li>
                    <li>
						<div style="height:30px;margin-left:15px;">
							<div style="padding:4px 0;float:left;">
								<button type="button" value="-" class="minus1" onclick="changeCount(countInput,this, '-')"></button>
							</div>
							<div style="float:left;">	
								<input value="0" id="countInput" maxlength="3" onblur="jiance($(this))" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" class="countInput" name="tx[1]" type="text">
							</div>
							<div style="padding:4px 0;float:left;">	
								<button type="button" value="+" class="add" onclick="changeCount(countInput,this, '+')"></button>
							</div>
							<div class="clear"></div>
						</div>
                    </li>
                    
                     <li>
						<div style="height:30px;margin-left:15px;">
							<div style="padding:4px 0;float:left;">
								<button type="button" value="-" class="minus1" onclick="changeCount(countInput,this, '-')"></button>
							</div>
							<div style="float:left;">	
								<input value="0" id="countInput" maxlength="3" onblur="jiance($(this))" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" class="countInput" name="tx[1]" type="text">
							</div>
							<div style="padding:4px 0;float:left;">	
								<button type="button" value="+" class="add" onclick="changeCount(countInput,this, '+')"></button>
							</div>
							<div class="clear"></div>
						</div>
                    </li>
                     <li>
						<div style="height:30px;margin-left:15px;">
							<div style="padding:4px 0;float:left;">
								<button type="button" value="-" class="minus1" onclick="changeCount(countInput,this, '-')"></button>
							</div>
							<div style="float:left;">	
								<input value="0" id="countInput" maxlength="3" onblur="jiance($(this))" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" class="countInput" name="tx[1]" type="text">
							</div>
							<div style="padding:4px 0;float:left;">	
								<button type="button" value="+" class="add" onclick="changeCount(countInput,this, '+')"></button>
							</div>
							<div class="clear"></div>
						</div>
                    </li>
                     <li>
						<div style="height:30px;margin-left:15px;">
							<div style="padding:4px 0;float:left;">
								<button type="button" value="-" class="minus1" onclick="changeCount(countInput,this, '-')"></button>
							</div>
							<div style="float:left;">	
								<input value="0" id="countInput" maxlength="3" onblur="jiance($(this))" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" class="countInput" name="tx[1]" type="text">
							</div>
							<div style="padding:4px 0;float:left;">	
								<button type="button" value="+" class="add" onclick="changeCount(countInput,this, '+')"></button>
							</div>
							<div class="clear"></div>
						</div>
                    </li>
                     <li>
						<div style="height:30px;margin-left:15px;">
							<div style="padding:4px 0;float:left;">
								<button type="button" value="-" class="minus1" onclick="changeCount(countInput,this, '-')"></button>
							</div>
							<div style="float:left;">	
								<input value="0" id="countInput" maxlength="3" onblur="jiance($(this))" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" class="countInput" name="tx[1]" type="text">
							</div>
							<div style="padding:4px 0;float:left;">	
								<button type="button" value="+" class="add" onclick="changeCount(countInput,this, '+')"></button>
							</div>
							<div class="clear"></div>
						</div>
                    </li>
                 </ul>
                 
            </div>
        </div>
        
        <div class="clear"></div>
        <div class="mt10">
        	<div class="p10"> <h2>设置考卷难度</h2><div class="line"></div></div>	
        </div>

		<div class="clear"></div>
         
        <div class="mt20">
        	<h3 class="p10"><a href="" class="c_z mr10">容易</a>  丨  
            <a href="" class="mr10">较易</a>   丨 
            <a href="" class="mr10">一般</a>   丨  
            <a href="" class="mr10">较难</a>   丨  
            <a href="" class="mr10">困难</a>
            </h3>	
        </div>
        
        <div class="clear"></div>
        <div class="mt10">
        	<div class="p10"> <h2>选择考查范围</h2><div class="line"></div></div>	
        </div>
        
        <div class="clear"></div>
        <div class="mt10">
        	<div class="p10"> 
            	<select class="left sel mr10"><option>按章节查找</option></select>
            	<select class="left sel mr10"><option>人教版</option></select>
                <input type="submit" value="搜索" class="mr10 button_2" style="border:none;" />
                <input type="checkbox" class="mr10" />全选
                
            </div>	
        </div>
        
        <div class="clear"></div>
		<form action="/ExamDiy/znExamZ" method="post" id="znExamZ_form">
		<div class="mt10">
        	<div class="p10"> <h2>请选择要考查的知识点</h2><div class="line"></div></div>	
        </div>
			<div class="knowledgeMenu guideStep">
				<!--      <div class="hasNav">-->
				<div class="js_nav use" id="253">
					<h3 id="253" class="js_h3">词汇</h3>
					<ul style="display: none">
						<li><a href="javascript:;" id="255" class="js_1ge">词组／短语</a></li>
						<li><a href="javascript:;" id="1446" class="js_1ge">拼写</a></li>
						<li><a href="javascript:;" id="1447" class="js_1ge">发音</a></li>
						<li><a href="javascript:;" id="1448" class="js_1ge">同义词</a></li>
						<li><a href="javascript:;" id="1449" class="js_1ge">反义词</a></li>
						<li><a href="javascript:;" id="1450" class="js_1ge">构词法</a></li>
					</ul>
				</div>
				<!--      <div class="hasNav">-->
				<div class="js_nav hasNav" id="256">
					<h3 id="256" class="js_h3">词法</h3>
				</div>
				<!--      <div class="hasNav">-->
				<div class="js_nav use" id="278">
					<h3 id="278" class="js_h3">句法</h3>
				</div>
				<!--      <div class="hasNav">-->
				<div class="js_nav use" id="304">
					<h3 id="304" class="js_h3">完形填空</h3>
				</div>
				<!--      <div class="hasNav">-->
				<div class="js_nav use" id="316">
					<h3 id="316" class="js_h3">阅读理解</h3>
				</div>
				<!--      <div class="hasNav">-->
				<div class="js_nav onHover hasNav" id="1470">
					<h3 id="1470" class="js_h3">作文</h3>
					<ul style="display: none">
						<li><a href="javascript:;" id="1471" class="js_1ge">情景作文</a></li>
					</ul>
				</div>
				<!--      <div class="hasNav">-->
				<div class="js_nav use" id="1478">
					<h3 id="1478" class="js_h3">短文改错</h3>
					<ul style="display: none">
						<li><a href="javascript:;" id="1471" class="js_1ge">情景作文</a></li>
					</ul>
				</div>
				<!--      <div class="hasNav">-->
				<div class="js_nav use" id="1553">
					<h3 id="1553" class="js_h3">单词拼写</h3>
					<ul style="display: none">
						<li><a href="javascript:;" id="1471" class="js_1ge">情景作文</a></li>
					</ul>
				</div>
				<!--      <div class="hasNav">-->
				<div class="js_nav use" id="1554">
					<h3 id="1554" class="js_h3">完成句子</h3>
					<ul style="display: none">
						<li><a href="javascript:;" id="1471" class="js_1ge">情景作文</a></li>
					</ul>
				</div>
				<!--      <div class="hasNav">-->
				<div class="js_nav use" id="1555">
					<h3 id="1555" class="js_h3">英汉互译</h3>
					<ul style="display: none">
						<li><a href="javascript:;" id="1471" class="js_1ge">情景作文</a></li>
					</ul>
				</div>
				<!--      <div class="hasNav">-->
				<div class="js_nav use" id="1556">
					<h3 id="1556" class="js_h3">单词读音</h3>
					<ul style="display: none">
						<li><a href="javascript:;" id="1471" class="js_1ge">情景作文</a></li>
					</ul>
				</div>
				<!--      <div class="hasNav">-->
				<div class="js_nav use" id="1557">
					<h3 id="1557" class="js_h3">单句改错</h3>
					<ul style="display: none">
						<li><a href="javascript:;" id="1471" class="js_1ge">情景作文</a></li>
					</ul>
				</div>
				<!--      <div class="hasNav">-->
				<div class="js_nav use" id="1480">
					<h3 id="1480" class="js_h3">其他</h3>
					<ul style="display: none">
						<li><a href="javascript:;" id="1471" class="js_1ge">情景作文</a></li>
					</ul>
				</div>
			</div>
			<div style="height: auto; padding: 0px;" class="knowledgeTxtBox">
				<div class="knowledgeTxt guideStep">
					<h3><font>您已经选择了<b class="zs_num">6</b>个知识点。</font><a style="display: block;" href="javascript:;" class="btn btn9" id="all_">选择全部知识点</a><a href="javascript:;" class="btn btn10" id="no_all_" style="display: none;">取消全部知识点</a></h3>
					<div class="checkboxBox">
						<h4><label id="js_zs_top"><input pid="1470" name="items_all[]" id="CheckedAll" value="1470" class="js_1" title="作文" type="checkbox"><span>作文</span></label></h4>
						<ul class="js_zhishidian3">
							<li class=""><label><input name="items[]" value="1471" id="情景作文" pid="1470" class="js_2" type="checkbox"><span>情景作文</span></label></li>
							<li><label><input name="items[]" value="1472" id="提纲作文" pid="1470" class="js_2" type="checkbox"><span>提纲作文</span></label></li>
							<li class="this"><label><input name="items[]" value="1473" id="开放作文" pid="1470" class="js_2" type="checkbox"><span>开放作文</span></label></li>
							<li class=""><label><input name="items[]" value="9231" id="应用文" pid="1470" class="js_2" type="checkbox"><span>应用文</span></label></li>
						</ul>
					</div>
					<div class="hasKnowledge">
						<h4>已选知识点（共<span class="zs_num">6</span>个）：</h4>
						<ul id="tag_box">
							<li class="" id="258" pid="256"><a href="javascript:;">代词／不定代词</a><input name="items_submit[]" value="258" type="hidden"></li>
							<li class="" id="276" pid="256"><a href="javascript:;">形容词／比较等级</a><input name="items_submit[]" value="276" type="hidden"></li>
							<li class="" id="259" pid="256"><a href="javascript:;">动词／动词词组</a><input name="items_submit[]" value="259" type="hidden"></li>
							<li id="271" pid="256"><a href="javascript:;">副词／比较等级</a><input name="items_submit[]" value="271" type="hidden"></li>
							<li class="" id="274" pid="256"><a href="javascript:;">数词／量词</a><input name="items_submit[]" value="274" type="hidden"></li>
							<li id="1471" pid="1470"><a href="javascript:;">情景作文</a><input name="items_submit[]" value="1471" type="hidden"></li>
						</ul>
					</div>
					<div class="clear"></div>
					<div class="guideStep">
						<div class="clearBoth fl mb">
							<a href="javascript:;" id="submit_ajax" class="btn btn5" style="margin-left:270px;" rel="nofollow">开始考试</a>
						</div>
					</div>
				</div>
			</div>
			<div class="clear">
			</div>
		</form>
		
        <!-- <div class="mt20">
        	<div class="p10">
                <ul class="ks_ul">
                    <li><dl>
                        <dt><input type="checkbox" class="mr10" />必修一</dt>
                            <dd><input type="checkbox" class="mr10" />第一章《运动的轨迹》</dd>
                            <dd><input type="checkbox" class="mr10" />第一章《运动的轨迹》</dd>
                            <dd><input type="checkbox" class="mr10" />第一章《运动的轨迹》</dd>
                            <dd><input type="checkbox" class="mr10" />第一章《运动的轨迹》</dd>
                        </dl>
                    </li>
                    
                    <li><dl>
                        <dt><input type="checkbox" class="mr10" />必修一</dt>
                            <dd><input type="checkbox" class="mr10" />第一章《运动的轨迹》</dd>
                            <dd><input type="checkbox" class="mr10" />第一章《运动的轨迹》</dd>
                            <dd><input type="checkbox" class="mr10" />第一章《运动的轨迹》</dd>
                            <dd><input type="checkbox" class="mr10" />第一章《运动的轨迹》</dd>
                        </dl>
                    </li>
                    
                    
                    <li><dl>
                        <dt><input type="checkbox" class="mr10" />必修一</dt>
                            <dd><input type="checkbox" class="mr10" />第一章《运动的轨迹》</dd>
                            <dd><input type="checkbox" class="mr10" />第一章《运动的轨迹》</dd>
                            <dd><input type="checkbox" class="mr10" />第一章《运动的轨迹》</dd>
                            <dd><input type="checkbox" class="mr10" />第一章《运动的轨迹》</dd>
                        </dl>
                    </li>
                    
                 </ul>
             </div>
             
             <div class="zj_tit">开始考试</div>
             
         </div> -->

</div>

<!--footer-->
<include file="common:footer" />
